/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
.down-arrow {
    animation-name: arrow;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0%  {background-color:initial; left:0px; top:0px;}
    50%  {background-color: initial; left:0px; top:50px;}
    100% {background-color: initial; left:0px; top:0px;}
}
.down-arrow-small {
    animation-name: arrow-small;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes arrow-small {
    0%  {background-color:initial; left:0px; top:0px;}
    50%  {background-color: initial; left:0px; top:25px;}
    100% {background-color: initial; left:0px; top:0px;}
}
.timeform-trainer-holder {
    margin: 0 auto;
    display: block;
}
.heroimage {
    margin-right: -0.1px;
    margin-left: -0.1px;

}
.index-heading {
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
}
.logo-font {
    font-family: 'Ropa Sans', sans-serif;
}
.benefits {
    padding-top: 48%;
}
.index-paragraph {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0%;
}
.pink-section {
    background-color: pink;
}
.pcracing-button {
    background-color: pink;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: initial;
}
.pcracing-button:hover  {
    background-color: pink;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: initial;
}
.pcracing-button-white {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: initial;
}
.pcracing-button-white:hover  {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: initial;
}
.pcracing-color {
    color: pink;
}
.pcracing-button-a {
    color: black;
}
.pcracing-button-a:hover {
    color: black;
}
.pcracing-button-white-a {
    color: white;
}
h4 {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 600;
    padding-top: 15px;
}
.benefits-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.icon-col {
    text-align: center;
}
.important-update {
    padding-top: 20px;
    padding-bottom: 20px;
}
.apollo-hero {
    height: 430px;
    width: auto;
}
.syndicate-padding{
    padding-bottom: 25px;
}
th {
    padding-left: 5px !important;
}
td {
    padding-left: 5px !important;
}
@media screen and (max-width: 1024px) {
    .heroimage {
        margin-right: -0.1px;
    }
    .benefits {
        padding-top: 65%;
    }
    .index-paragraph {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    }
    p {
        margin-top: 1rem;
    }
    .apollo-hero {
        height: auto;
        width: auto;
    }
    .syndicate-padding{
        padding-bottom: 38px;
    }
  }

  @media screen and (max-width: 1000px) {
    .heroimage {
        margin-right: -0.1px;
    }
    .index-paragraph {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    }
    p {
        margin-top: 1rem;
    }
    .heading {
        text-align: center;
        font-family: 'Ropa Sans', sans-serif;
        padding-top: 0px;
    }
    @keyframes arrow {
        0%  {background-color:initial; left:0px; top:0px;}
        50%  {background-color: initial; left:0px; top:50px;}
        100% {background-color: initial; left:0px; top:0px;}
    }
    .heroimage {
        margin-right: -0.1px;
        margin-left: -0.1px;
        padding-left: 0%;
        padding-right: 0%;
    }
    .apollo-hero {
        height: auto;
        width: auto;
    }
  }

